.light {
  height: 100px;
  width: 100px;
  background-color: #ddd;
  border: 1px solid #444;
  border-radius: 1rem;
  margin: 0.5rem;
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr;
}

.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}

.game-over {
  display: inline-block;
}

.hide {
  display: none;
}